<h2><%= @restaurant.name %></h2>
<h3><%= link_to '+ New station', new_restaurant_station_path(@restaurant), class: 'btn btn-outline-primary' %></h3>
<% @stations.each do |station| %>
  <h4><%= station.name %><span> - <%= link_to 'Edit', edit_station_path(station) %> - <%= link_to 'ðŸ—‘ï¸', station_path(station), method: :delete %></span></h4>
<% end %>
