    <div class="container-fluid report-table">
      <div class="header row text-center border p-1">
        <div class="col divisor"><h5>ID</h5></div>
        <div class="col col-4 divisor"><h5>Name</h5></div>
        <div class="col divisor"><h5>Break</h5></div>
        <div class="col divisor"><h5>Start</h5></div>
        <div class="col divisor"><h5>Finish</h5></div>
        <div class="col divisor"><h5>Missed</h5></div>
        <div class="col-2"><h5>Manage</h5></div>
      </div>
      <div class="row border p-1 text-center">
        <div class="col"> </div>
        <div class="col-4 text-start"><input class="col-12" type="text" placeholder="Work in progress"></div>
        <div class="col"> </div>
        <div class="col">Starts</div>
        <div class="col">Finishes</div>
        <div class="col"> </div>
        <div class="col-2">
          <%= link_to '+ New shift', new_shift_path, class: "btn btn-success p-4 pt-0 pb-0 mt-0 mb-0 col-12" %>
        </div>
      </div>
      <% @restaurant.report.shifts.select do |shift| %>
        <div class="row border text-center align-items-center p-1">
          <div class="col text-start"><%= shift.worker.number %></div>
          <div class="col-4 text-start"><%= "#{shift.worker.first_name} #{shift.worker.last_name}" %></div>
          <div class="col"><input type="checkbox"></div>
          <div class="col divisor"><%= shift.start.strftime("%H:%M") %></div>
          <div class="col"><%= shift.finish.strftime("%H:%M") %></div>
          <div class="col"><input type="checkbox"></div>
          <div class="col-2 d-flex align-items-center justify-content-between">
              <%= link_to 'Edit', edit_shift_path(shift), class: "btn btn-secondary col-8" %>
              <%= link_to 'X', shift_path(shift), class: "btn btn-danger col-3", method: :delete %>
          </div>
        </div>
      <% end %>
    </div>
