<%= render 'shared/navbar' %>
<h2>Get running!</h2>
<% if @restaurant %>
  <%= @restaurant.name %> - <%= link_to 'Restaurant show page', restaurant_path(@restaurant) %>
<% else %>
  <%= 'You don\'t have a restaurant' %>
  <%= link_to 'Create a Restaurant', new_restaurant_path %>
<% end %>
