<% if @restaurant %>
  <div class="container-fluid d-flex flex-row p-0">
    <%= render 'shared/sidebar' %>
    <section class="dashboard justify-between">
      <div class="wrapper d-flex h-100 flex-column flex-lg-row flex-md-row">
        <div class="wrapper col-7 d-flex flex-column">
          <div id="floorplan-card" class="dashboard-card card floorplan h-25">
            <div class="card-header p-0 m-0">
              <h3>FLOORPLAN</h3>
              <%= link_to 'Create new', '#', class: "btn btn-primary rounded-pill  card-header-button" %>
            </div>
          </div>
          <div id="report-card" class="card dashboard-card report h-50">
            <div class="card-header d-flex p-0 m-0 ">
              <h3 class="card-title">SHIFT REPORT</h4>
              <%= link_to "Manage report", restaurant_report_path(@restaurant), class: "btn btn-primary rounded-pill card-header-button" %>
            </div>
            <div class="card-body d-flex justify-content-around">

              <div class="card-item report-card col-10 col-mb-5 col-lg-5 m-2 p-2 pt-4 d-flex flex-row flex-md-column flex-lg-column">
                <div class="report-card-header text-center ">
                  <h4>Starting next...</h4>
                </div>
                <%= render 'shared/report_card_starting' %>
                <div class="report-card-footer d-flex flex-column justify-content-around">
                  <div class="text-center">
                    <%= link_to "See more..", restaurant_report_path(@restaurant), class: "btn btn-secondary mt-1 btn-see-more rounded-pill"%>

                  </div>
                </div>
              </div>

              <div class="card-item report-card col-10 col-mb-5 col-lg-5 m-2 p-2 pt-4 d-flex flex-row flex-md-column flex-lg-column">
                <div class="report-card-header text-center ">
                  <h4>Finishing next...</h4>
                </div>
                <%= render 'shared/report_card_finishing' %>
                <div class="report-card-footer d-flex flex-column justify-content-around">
                  <div class="text-center">
                  <%= link_to "See more..", restaurant_report_path(@restaurant), class: "btn btn-secondary mt-1 btn-see-more rounded-pill"%>

                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="wrapper col-5 ">
          <div class="dashboard-card card tasklist" id="tasklist-card">
            <div class="card-header text-center justify-content-between">
              <h3 class="card-title" anchor="notes">
                NOTES
              </h3>
              <button type="button" class="btn btn-primary rounded-pill  card-header-button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                +Add note
              </button>
            </div>
            <div class="card-body d-flex flex-column p-2">
              <% @restaurant.notes.each do |note| %>
                <div class="wrapper col-12 d-flex m-2">
                  <div class="card card-note">
                    <h5 class=""><%= note.content %></h5>
                  </div>
                    <%= link_to 'X',
                        note_path(note),
                        class: 'btn btn-note-delete d-flex align-items-center justify-content-center',
                        method: :delete
                      %>
                </div>
              <% end %>
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <%= render 'notes/new' %>
              </div>
            </div>


          </div>
        </div>
      </div>
    </section>
  </div>
<% else %>
  <div class="started-item active d-flex align-items-center mb-3 mt-3 ">
    <div class="rounded-circle bg-dark text-light p-3 m-1">01</div>
    <div><strong class="m-2">Create your restaurant</strong></div>
    <%= link_to 'Create a Restaurant', new_restaurant_path, class: 'btn btn-primary m-2 rounded-pill ' %>
  </div>
<% end %>
