<h1><%= @restaurant.name %></h1>
<h2>Your workers</h2>
<% @workers.each do |worker| %>
  <p><%= worker.first_name %> <em><%= worker.last_name %></em> - <%= link_to '', edit_restaurant_worker_path(@restaurant, worker) , class: "fa-solid fa-pen-to-square" %><p>
<% end %>
<%= link_to 'Add Worker', new_restaurant_worker_path(@restaurant) %>
