<div class="page-title d-flex justify-content-between mb-4 p-2">
  <h2>Shift Report</h2>
    <div class="buttons">
      <% if @restaurant.report %>
        <%= link_to 'Delete report', report_path(@restaurant.report), class: "btn btn-danger rounded-1 m-1", method: :delete %>
      <% end %>
      <button type="button" class="btn btn-primary rounded-pill m-1" data-bs-toggle="modal" data-bs-target="#exampleModal">
        + Upload report
      </button>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <% if @restaurant.report %>
      <%= render 'new_existent' %>
    <% else %>
      <%= render 'new' %>
    <% end %>
  </div>
</div>
    <div class="container-fluid report-table">
      <div class="header row text-center border p-1">
        <div class="col divisor"><h5>ID</h5></div>
        <div class="col col-4 divisor"><h5>Name</h5></div>
        <div class="col divisor"><h5>Break</h5></div>
        <div class="col divisor"><h5>Start</h5></div>
        <div class="col divisor"><h5>Finish</h5></div>
        <div class="col divisor"><h5>Missed</h5></div>
        <div class="col-2"><h5>Manage</h5></div>
      </div>

      <%= turbo_frame_tag 'new', class:"row border p-1 text-center justify-content-end" do %>
        <div class="col-2">
          <%= link_to '+ Add a shift', new_shift_path, class: "btn btn-success p-4 pt-0 pb-0 mt-0 mb-0 col-12", id:"open-form" %>
        </div>
      <% end %>
    <div class="report-table p-0" id="shifts">
      <% if @restaurant.report %>
        <%= render partial: "shifts/shift", collection: @shifts %>
    </div>
  <% end %>
