<div class="page-title d-flex justify-content-between mb-4 p-2">
  <h2>Shift Report</h2>
    <div class="buttons">
      <% if @restaurant.report %>
        <%= link_to 'Delete report', report_path(@restaurant.report), class: "btn btn-danger rounded-1 m-1", method: :delete %>
      <% end %>
      <button type="button" class="btn btn-primary rounded-pill m-1" data-bs-toggle="modal" data-bs-target="#exampleModal">
        + Upload report
      </button>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <% if @restaurant.report %>
      <%= render 'new_existent' %>
    <% else %>
      <%= render 'new' %>
    <% end %>
  </div>
</div>
  <% if @restaurant.report %>
    <div class="container report-table">
      <div class="header row text-center border">
        <div class="col">ID</div>
        <div class="col col-4">Name</div>
        <div class="col">Break</div>
        <div class="col">Shift Start</div>
        <div class="col">Shift Ends</div>
        <div class="col">Missed</div>
        <div class="col-2">Manage</div>
      </div>
      <% @restaurant.report.data.each do |row| %>
        <div class="row border text-center align-items-center p-1">
          <div class="col text-start"><%= row[1][1] %></div>
          <div class="col-4 text-start"><%= row[2][1] %></div>
          <div class="col"><input type="checkbox"></div>
          <div class="col"><%= row[4][1] %></div>
          <div class="col"><%= row[5][1] %></div>
          <div class="col"><input type="checkbox"></div>
          <div class="col-2 d-flex align-items-center justify-content-center">
            <div class="col"><button class="btn btn-secondary p-4 pt-0 pb-0 m-1 mt-0 mb-0">Edit</button></div>
            <div class="col"><button class="btn btn-danger p-2 pt-0 pb-0 m-1 mt-0 mb-0">X</button></div>
          </div>

        </div>
      <% end %>
    </div>
  <% end %>
