<div class="page-title d-flex justify-content-between mb-4 p-2">
  <h2>Shift Report</h2>
    <div class="buttons">
      <% if @restaurant.report %>
        <%= link_to 'Delete report', report_path(@restaurant.report), class: "btn btn-danger rounded-1 m-1", method: :delete %>
      <% end %>
      <button type="button" class="btn btn-primary rounded-pill m-1" data-bs-toggle="modal" data-bs-target="#exampleModal">
        + Upload report
      </button>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <% if @restaurant.report %>
      <%= render 'new_existent' %>
    <% else %>
      <%= render 'new' %>
    <% end %>
  </div>
</div>
  <% if @restaurant.report %>
    <div class="container-fluid report-table">
      <div class="header row text-center border p-1">
        <div class="col divisor"><h5>ID</h5></div>
        <div class="col col-4 divisor"><h5>Name</h5></div>
        <div class="col divisor"><h5>Break</h5></div>
        <div class="col divisor"><h5>Start</h5></div>
        <div class="col divisor"><h5>Finish</h5></div>
        <div class="col divisor"><h5>Missed</h5></div>
        <div class="col-2"><h5>Manage</h5></div>
      </div>
      <div class="row border p-1 text-center">
        <div class="col"> </div>
        <div class="col-4 text-start"><input class="col-12" type="text" placeholder="Select employee"></div>
        <div class="col"> </div>
        <div class="col">Starts</div>
        <div class="col">Finishes</div>
        <div class="col"> </div>
        <div class="col-2"><button class="btn btn-success p-4 pt-0 pb-0 mt-0 mb-0 col-12">+ Add</button></div>
      </div>
      <% @restaurant.report.shifts.select do |shift| %>
        <div class="row border text-center align-items-center p-1">
          <div class="col text-start"><%= shift.worker.number %></div>
          <div class="col-4 text-start"><%= "#{shift.worker.first_name} #{shift.worker.last_name}" %></div>
          <div class="col"><input type="checkbox"></div>
          <div class="col divisor"><%= shift.start %></div>
          <div class="col"><%= shift.finish %></div>
          <div class="col"><input type="checkbox"></div>
          <div class="col-2 d-flex align-items-center justify-content-between">
              <button class="btn btn-secondary col-8">Edit</button>
              <button class="btn btn-danger col-3">X</button>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
