<div class="page-title d-flex justify-content-between">
  <h2>Shift Report</h2>
    <button type="button" class="btn btn-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#exampleModal">
      +   Upload report
    </button>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <% if @restaurant.report %>
      <%= render 'new_existent' %>
    <% else %>
      <%= render 'new' %>
    <% end %>
  </div>
</div>
  <h3>filtered</h3>
  <% if @restaurant.report %>
    <%= link_to 'Delete report', report_path(@restaurant.report), method: :delete %> <br>
    <% @restaurant.report.data.each do |row| %>
      <%= row.to_h["shift_start_time"] %><br>
    <% end %>
  <h3>unfiltered</h3>
  <% @restaurant.report.data.each do |row| %>
      <h4><%= row[2][1] %></h4> <p><%= row[4][1] %></p>
  <% end %>
  <% end %>
